.homePage {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 40px auto;
}
  
.leftWrapper {
    flex: 1;
    text-align: center;
}
  
.heading1Style {
    color: #333;
    font-size: 60px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 0px;
}
  
.heading2Style {
    font-size: 30px;
    width: 350px;
    margin: 8px auto;
    font-weight: lighter;
}
  
.heading3Style {
    font-weight: normal;
    font-style: italic;
}
  
.linkStyle {
    text-decoration: none;
    color: black;
}
  
.imageStyle {
    height: 500px;
    width: auto;
    border-radius: 20px;
    margin: 0 15px;
}
  